/*
----- COLOURS -----
Background purple: #5E4A74
Darker purple: #47345B
Darker still purple: #351F4C
*/

/*----- GENERAL -----*/
body {
  background: #5E4A74;
}

p, h1, h2, h3, input, text {
  font-family: 'Lato', sans-serif;
  color: white !important;
  font-weight: 300;
}

.section-break {
  margin: 100px 80px 0 80px;
}

/*----- NAV BAR -----*/
.primary.title-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.17));
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border-bottom: none;
}

.nav-links {
  padding-top: 6px;
}

.navbar {
  text-align: center;
}

.logo {
  height: 30px;
  width: auto;
}

.logo-text {
  margin-left: 10px;
}

@media screen and (max-width:450px) {
  .logo-text {
    display: none;
  }
}


/*----- INTRO -----*/
.intro-block {
  padding: 43px 0 50px 0;
  background-position: center;
  height:100vh;
  width: 100%;
  background-image: url('/img/child-creativity.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
}

.intro-title {
  z-index: 2;
}

.intro-title h1 {
  font-weight: 700;
  text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
}

@media screen and (min-height:400px) {
  .intro-title {
    padding-top: 100px;
  }
}

@media screen and (min-height:500px) {
  .intro-title {
    padding-top: 200px;
  }
}

@media screen and (min-height:600px) {
  .intro-title {
    padding-top: 300px;
  }
}

@media screen and (min-height:700px) {
  .intro-title {
    padding-top: 400px;
  }
}

@media screen and (min-height:800px) {
  .intro-title {
    padding-top: 500px;
  }
}

@media screen and (min-height:900px) {
  .intro-title {
    padding-top: 600px;
  }
}

@media screen and (min-height:1000px) {
  .intro-title {
    padding-top: 700px;
  }
}

@media screen and (max-width:650px) {
  .intro-title {
    padding-top: 200px;
  }
  .get-email-text{
    margin-bottom: 0;
  }
  .submit-email{
    width: 140px;
  }

  input.e-mail {
    width: 140px;
  }
}

@media screen and (max-width:450px) {
  .intro-title {
    padding-top: 130px;
  }
}

@media screen and (max-width:350px) {
  .intro-title {
    padding-top: 10px;
  }
}

.white-box{
  background-color: rgba(178, 176, 176, 0.84);
  border-radius: 8px;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

@media screen and (max-width:900px) {
  .white-box {
    margin: 0 10px 0 10px;
  }
}

.get-email-text{
  padding: 15px 15px 0 15px;
  font-weight: 400;
}

input.e-mail {
  height: 39px;
  margin-right: 10px;
}

.bottom-overlay {
  position: absolute;
  bottom: 0;
  height: 400px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.50));
  z-index: 1;
}

/*----- DESCRIPTION -----*/
.description-title {
  text-align: center;
  margin-top: 50px;
}

.vertical.grid-content.description-title{
  margin-top: 80px;
}

.boy, .school, .earth {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.boy {
  background-image: url('/img/boy.gif');
}

.school {
  background-image: url('/img/school.png');
}

.earth {
  background-image: url('/img/Earth.gif');
}

.students {
  margin-top: 80px;
  text-align: center;
}

.example-text-img{
  /*height: 100%;*/
  width: 80%;
  object-fit: contain;
  display: block;
}

svg {
  font-family: "Helvetica Neue", Helvetica;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

/*----- PARALLAX -----*/

.react-parallax {
  height: 500px;
}

/*----- LOGIN -----*/
form {
  margin-top: 30px;
}

form input {
  text-align: center;
  border-radius: 3px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: black !important;
  font-weight: 400;
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

form input:focus {
  background-color: white !important;
  color: #53e3a6;
}

.button {
  font-weight: 400;
  margin-bottom: 30px;
}

.expand.button {
  background: #351F4C;
  border-radius: 3px !important;
}

.expand.button:hover {
  background: #47345B;
}

/*----- FOOTER -----*/
.footer {
  margin: 0 0 0 80px;
}

.footer-text {
  margin-bottom: 0;
}
